*{
    padding: 0;
    margin: 0;
}

.main img{
    /* background-image: url("./IMG-20240129-WA0027.jpg"); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    height: 40em;
}