/* #F8F8F8 */
/* #FAEBCD */
/* #F7C873 */
/* #434343 */

*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    margin: 2em 0 0 15em;
}

li{
    margin: 0 2em;
    font-size: larger;
}

.logo{
    width: 5em;
    height: 5em;
}

.listItem{
    margin-top: 2em;
}

.main{
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 4em 0;
}

.main img{
    width: 25em;
    height: 25em;
    border-radius: 0.5em;
    /* margin: 2em 10em; */
    background-blend-mode:color;
}

.main section{
    margin: 0 3em;
    text-align: center;
    font-size: 2em;
}

.description img{
    width: 2em;
    height: 2em;
}

.gold{
    background-color: #f4ce14;
background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}