/* #F8F8F8 */
/* #FAEBCD */
/* #F7C873 */
/* #434343 */

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;700&family=Arimo&family=Ballet&display=swap');

*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    margin: 2em 0 0 15em;
}

li{
    margin: 0 2em;
    font-size: larger;
}

.logo{
    width: 5em;
    height: 5em;
}

.listItem{
    margin-top: 2em;
}

.main{
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 4em 0;
}

.main img{
    width: 25em;
    height: 25em;
    border-radius: 0.5em;
    background-blend-mode:color;
}

.main section{
    margin: 0 3em;
    text-align: center;
    font-size: 2em;
}

.description img{
    width: 2em;
    height: 2em;
}

.gold{
    display: flex;
    background-color: #e6b31e;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
}

.gold .pre{
    font-size: 3em;
    font-style: italic;
    width: 60%;
    padding: 0.2em;
} 

.gold .service{
    font-size: 1.5em;
    width: 40%;
}

.display{
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    display: flex;
    padding-bottom: 2em;
}

.display section{
    width: 30em;
    height: 30em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display section section{
    width: 80%;
    max-height: 3em;
    border-radius: 0.5em;
    background-color: #00000090;
    margin: 20em 2em;
    color: #f4f4f4;
    
}

.display section section p{
    padding: 1em 0em 1em 4.8em;
    /* font-weight: bold; */
    font-size: large;
    font-family: 'Arimo', sans-serif;
}

.display .braids{
    background-image: url("./images/hair8.jpg");
}

.display .cornrow{
    background-image: url("./images/hairTen.jpg");
}

.wig{
    background-image: url("./images/wig.jpg");
}

.bigBraids{
    background-image: url("./images/bigBraid.jpg");
}

.faux{
    background-image: url("./images/fauxLocs.jpg");
}

.products{
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    font-size: larger;
}

.products h3{
    text-decoration: underline;
    text-decoration-color: #e6b31e;
    text-align: center;
    font-style: italic;
}

.products img{
    width: 15em;
    height: 15em;
}

.products .first, .second, .third{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5em;
}

.first>section, .second>section, .third > section{
    margin: 2em;
    border-radius: 1em;
}

.products p{
    padding: 0.7em 0;
    text-align: center;
}

.rating{
    text-align: center;
}

.checked{
    color:#e6b31e;
}

.products img{
    border-radius: 0.5em;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

button{
    padding: 0.5em 1.5em;
    background-color: #e6b41e56;
    border: 0.1em solid #e6b31e;
    border-radius: 0.8em;
    font-size: medium;
    font-weight: bold;
}

.contactUs{
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.contactUs h3{
    text-align: center;
    padding-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.contactUs .slogan{
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 1.5em 0;
}

.contactUs .contactIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactIcon section{
    margin: 0 6em;
}

.contactUs img{
    width: 4em;
    height: 4em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form section{
    display: flex;
    margin: 0 6em;
}

form input{
    padding: 1em 2em;
    border-radius: 1em;
    margin: 0.5em 5em;
    width: 25em;
}

form textarea{
    height: 15em;
    width: 35em;
    border-radius: 1em;
}